{% extends 'layout.html' %}
{% block content %}
<style>
    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    body{
        background-color: purple;
    }
</style>
<div class="row mt-5">
    <div class="col-6 offset-3">
     <div class="card">
        <div class="card-header">
            <div class="card-header">
            <h4 class="card-header text-center">Reset Password</h4>
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                      <div class="mb-3">
                      <label for="password" class="form-label">New Password</label>
                      <input type="password" name="password" required class="form-control" id="password">
                    </div>
                   <button type="submit" class="btn btn-primary">Submit</button>  
                </form>
            </div>
        </div>                  
   </div>
</div>
{% endblock %}